


<div class="container">
  <br/>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <!--end of col-->
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="search" name="model" [(ngModel)]="model" placeholder="Enter Model Name">
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-lg btn-success" (click)="getVehicleByModel()"  type="submit">Search</button>
          </div>
          <!--end of col-->
        </div>
      </form>
    </div>
    <!--end of col-->
  </div>
</div>


<!--for table-->
<table class="table table-striped">
  <thead>
  <tr>
    <!--    <th scope="col">#</th>-->
    <th scope="col">Id</th>
    <th scope="col">Model</th>
    <th scope="col">Engine</th>
    <th scope="col">Vehicle Feature</th>
    <th scope="col">Vehicle price</th>
    <th scope="col">Drive Type</th>
    <th scope="col">Color</th>
    <th scope="col">Body Style</th>
    <th scope="col">Make</th>
    <th scope="col">Model Year</th>
    <th scope="col">Engine</th>
    <th scope="col">MPG</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let vehicle of vehicles">

    <td>{{ vehicle.vehicleId}}</td>
    <td>{{ vehicle.vehicleDetails.model }}</td>
    <td>{{ vehicle.vehicleDetails.engine }}</td>

    <td>

      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" ngbPopover={{vehicle.vehicleDetails.vehicleFeature.Exterior}} triggers="mouseenter:mouseleave" popoverTitle="Exterior Features">
            Exterior Features
          </button>
          <button type="button" class="btn btn-outline-secondary" ngbPopover={{vehicle.vehicleDetails.vehicleFeature.Interior}} triggers="mouseenter:mouseleave" popoverTitle="Interior Features">
            Interior Features
          </button>

          <!--            <li>Exterior: {{ vehicle.vehicleDetails.vehicleFeature.Exterior}}</li>-->
          <!--            <li>Interior: {{ vehicle.vehicleDetails.vehicleFeature.Interior}}</li>-->
        </div>

      </div>





    </td>
    <!--    <td>{{ vehicle.vehicleDetails.vehiclePrice }}</td>-->
    <td>

      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-outline-secondary" ngbPopover={{vehicle.vehicleDetails.vehiclePrice[0].MSRP}} triggers="mouseenter:mouseleave" popoverTitle="MSRP">
            MSRP
          </button>
          <button type="button" class="btn btn-outline-secondary" ngbPopover={{vehicle.vehicleDetails.vehiclePrice[0].Savings}} triggers="mouseenter:mouseleave" popoverTitle="Savings">
            Savings
          </button>
          <button type="button" class="btn btn-outline-secondary" ngbPopover={{vehicle.vehicleDetails.vehiclePrice[0].finalPrice}} triggers="mouseenter:mouseleave" popoverTitle="Final Price">
            Final Price
          </button>

          <!--            <li>MSRP: {{ vehicle.vehicleDetails.vehiclePrice[0].MSRP}}</li>-->
          <!--            <li>Savings: {{ vehicle.vehicleDetails.vehiclePrice[0].Savings}}</li>-->
          <!--            <li>Final Price: {{ vehicle.vehicleDetails.vehiclePrice[0].finalPrice}}</li>-->
        </div>

      </div>





    </td>
    <td>{{ vehicle.vehicleDetails.drivetype}}</td>
    <td>{{ vehicle.vehicleDetails.color }}</td>
    <td>{{ vehicle.vehicleDetails.bodyStyle }}</td>
    <td>{{ vehicle.vehicleDetails.make}}</td>
    <td>{{ vehicle.vehicleDetails.modelYear }}</td>
    <td>{{ vehicle.vehicleDetails.engine}}</td>
    <td>{{ vehicle.vehicleDetails.MPG}}</td>



  </tr>
  </tbody>
</table>
